:root, [data-theme="light"]{
	--text-color: white;
	--main-font-color: black;
	--bottom-color: #ececee;
	--img-src: url("../images/bg_old.jpg");
	--box-shadow: #7b5151;
	--link-color: #8ec63f;
	--graph-color: black;
	--legend-color: #cccccc;
	--cold-color: #2525f5;
	--warm-color: #f94545;
}

[data-theme="dark"] {
	--text-color: #161625;
	--main-font-color: white;
	--bottom-color: #232842;  
	--img-src: url("../images/bg.jpg");
	--box-shadow: black;
	--link-color: #8ec63f;
	--graph-color: white;
	--legend-color: grey;
	--cold-color: #93bffe;
	--warm-color: #ffb4b4;
}

/* Display unit information */
.temp:after { content: '°C'; }
.humidity:after { content: '%'; }
.color:after { content: '#RGB'; }
.timestamp:after { content: 'M';}
.angle:after { content: '°';}
.luminosity:after { content: 'LUM';}
.pressure:after { content: 'hPa';}
.altitude:after { content: 'm';}

/* Generic CSS */
html, body{
    height: 100%;
	line-height: 1.15; /* 1 */ 
	-webkit-text-size-adjust: 100%; /* 2 */
    margin: 0;
}

body {
    background: var(--img-src) top left;
    font: 12px/14px Arial,Verdana,sans-serif;
    color: var(--main-font-color);
}

a {
    text-decoration: none;
    color: var(--main-font-color);
	outline: none;
	position: relative;
	display: inline-block;
}

a:hover {
  color: var(--link-color);
}

figcaption { 
	margin-top: -7px;
}

legend {
    padding: 6px 16px;
    font-size: 15px;
}

fieldset {
    position: relative;
    margin-bottom: 5px;
}
fieldset ul li {
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Inputer & Select CSS */
select {
  margin-bottom: 1em;
  padding: .25em;
  border: 0;
  font-weight: bold;
  letter-spacing: .15em;
  margin: 0;
  margin-left: -5px;
  width: 217px;
}

input:not[type=submit]:not[type=checkbox]{
	width: 200px;
}

input[type=color]{
	width: 100px;
	height: 35px;
	border: none;
	border-radius: 40px;
	background: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 100%;
    padding: 0 5px;
}

input[type="color"]::-webkit-color-swatch {
	border: solid 2px #000; /*change color of the swatch border here*/
	border-radius: 40px;
}

input[type=submit] {
    padding:10px 25px;
    background: var(--link-color); 
	color: white; 
    border:0 none;
    cursor:pointer;
    font-weight:bold;
	min-width: 215px;
}

input[type=submit]:hover {
	background-color: #68912f;
}

input[type=checkbox]:checked + .slider:after {  
  content:'ON';
}

label {
	width: 180px;
	display: inline-block;
	vertical-align: top;
}

ul {
  padding: 0px 5px 0px 20px;
}

.dnone { display: none;}
li { list-style: none;}
.fright { float: right;}
.fleft { float: left; }
span { display: block }

.hr { 
    align-items: center;
    display: flex;
    text-align: center;
}

.hr::before,
.hr::after {
    border-top: .0725em dotted;
    content: "";
    flex: 1;
    margin: 0 .5em;
}

.flex { display: flex; }
.saround { justify-content: space-around }
.column { flex-flow: column; flex: 1}
.auto { margin: auto; }
.wrap { flex-wrap: wrap; }
.ranger {
	margin: 0 50px;
	padding: 10px;
	border: 1px dotted var(--main-font-color);
}

h1 {
	margin: auto;
	display: block;
	position: relative;
	padding: 5px;
}

h2 {
	display: inline-block;
	margin: 0;
}

/* Inspire by Tachyons */
h1 { font-size: 2em; margin: .67em 0; }
hr { box-sizing: content-box; /* 1 */ height: 0; /* 1 */ overflow: visible; /* 2 */ }
a { background-color: transparent; }
abbr[title] { border-bottom: none; /* 1 */ text-decoration: underline; /* 2 */ -webkit-text-decoration: underline dotted; text-decoration: underline dotted; /* 2 */ }
b, strong { font-weight: bolder; }
small { font-size: 80%; }
img { border-style: none; }
button, input, optgroup, select, textarea { font-family: inherit; /* 1 */ font-size: 100%; /* 1 */ line-height: 1.15; /* 1 */ margin: 0; /* 2 */ }
button, input {/* 1 */ overflow: visible; padding: 4px; }
button, select {/* 1 */ text-transform: none; }
button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }
button::-moz-focus-inner, [type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }
fieldset { padding: .35em .75em .625em; }
legend { box-sizing: border-box; /* 1 */ color: inherit; /* 2 */ display: table; /* 1 */ max-width: 100%; /* 1 */ white-space: normal; /* 1 */ }
progress { vertical-align: baseline; }
textarea { overflow: auto;  resize:vertical;}
[type="checkbox"], [type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button { height: auto; }
[type="search"] { -webkit-appearance: textfield; /* 1 */ outline-offset: -2px; /* 2 */ }
[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
::-webkit-file-upload-button { -webkit-appearance: button; /* 1 */ font: inherit; /* 2 */ }
details { display: block; }
summary { display: list-item; }
img { max-width: 100%; }

/* Real CSS */
.construct { 
	opacity: 0.4; 
	position: relative;
}

.construct:after,
.construct:before {
  margin-top: 5px;
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  background: var(--main-font-color);
  content: "";
  width: 100%;
  display: block;
}

.construct:after {
  transform: rotate(3.2deg);
}

.construct:before {
  transform: rotate(-3.2deg);
}

.progress-circle {
	position: relative;             /* pour servir de référent */
	box-sizing: border-box;         /* prise en compte bordure dans la dimension */
	font-size: 5em;                 /* pour définir les dimensions */
	width: 2em;                     /* fixe la largeur */
	height: 2em;                    /* fixe la hauteur */
	border-radius: 50%;             /* rendu aspect circulaire */
	border: .15em solid var(--bottom-color);       /* couleur de fond de l'anneau */
	background-color: #FFF;         /* couleur de fond de la progress bar */
}

.progress-circle > span {
	font-size: 0.30em;              /* taille de la font en % du parent */
	height: 100%;                   /* centrage dans le parent */
	display: flex;
	align-items: center;
	justify-content: center;

	/*-- pour effet shadow intérieur --*/
	border-radius: 50%;
	box-shadow: 0 0 .5em rgba(0, 0, 0, .5) inset;
	color: black;
}

.regulation { 
	justify-content: space-evenly; 
	opacity: 0.4;
}

.regulation > span + span {
	flex: 1; 
}

input[type="checkbox"]:checked + div ~ div { 
	opacity: 1; 
}

.content { 
	max-height: 0;
	-webkit-transition: max-height 0.5s;
	-moz-transition: max-height 0.5s;
	-ms-transition: max-height 0.5s;
	-o-transition: max-height 0.5s;
	transition: max-height 0.5s;
	overflow: hidden;
}

.showing:hover ~ div, .content:hover {
	max-height: 300px;
}

.ranger > span {
	margin-top: -22px;
	padding: 5px;
	background: var(--text-color);
}

a:hover > .bubble {
	visibility: visible;
}

h1::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 25%;
	height: 1px;
	width: 50%;
	border-bottom: 1px dashed var(--link-color);
}


.sensor {
	width: 22%;
}

.bubble {
	left:50%;
    transform:translate(-50%, 0);
	visibility: hidden;
	width: 200px;
	background-color: var(--link-color);
	color: #fff;
	text-align: center;
	padding: 5px;
	font-size: 12px;
	border-radius: 5px;
	position: absolute;
	z-index: 5;
	top: 150%;
}

.left {
    text-align: left;
    justify-content: left;
}

.center {
    text-align: center;
    justify-content: center;
}

.right {
    text-align: right;
    justify-content: flex-end;
}

#page > * {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
}


.information li {
    text-align: center;
}

#header {
    height: 15px;
    background: var(--text-color);
    padding: 15px 15px;
    margin: 0 auto;
    position: relative;
    z-index: 9999999 !important;
    border-bottom: 1px solid rgba(118,110,116,.5);
}

#header > * {
    display: flex;
    flex: 1 1 0;
}

#headline {    
    width: 100%;
    height: 150px;
    border-bottom: 1px solid rgba(118,110,116,.5);
    align-items: center;
}

#headline > *, #footerline > *, #sub_menu > * {
    display: flex;
    flex:1 1 0;
    justify-content: center;
    align-items: center;
    text-aign: center;
}

.notification {
	background-color: #555;
	color: white;
	padding: 10px 15px;
	position: fixed;
	border-radius: 2px;
	bottom: 35px;
	right: 15px;
	border-radius: 15px;
}

.count {
	position: absolute;
	top: -10px;
	right: -10px;
	padding: 5px 10px;
	border-radius: 50%;
	background: red;
	color: white;
	z-index: 1;
}

.space:before, .space:after {
	margin: 0 5px;
}

.strike:before, .strike:after {
    content: "\00a0\00a0";
}

.strike:hover {
	text-decoration: line-through;
}

.message {
	display: none;
	text-align: center;
	position: fixed;
	background: #555;
	padding: 5px;
	border-radius: 5px;
	width: 200px;
}

.notification:hover .message{
	bottom: 60px;
	right: 20px;
	display: block;
}

#logo {
    background: url("../images/LS.png") no-repeat;
    height: 100%;
    width: 150px;
    transform: scale(1, 1);
}

#sub_menu {
    border-bottom: 1px solid rgba(118,110,116,.5);
    text-align: right;
    padding: 15px 0;
}

#page {
    background-color: var(--text-color);
    -webkit-box-shadow: 0 0 24px var(--box-shadow);
    -moz-box-shadow: 0 0 24px var(--box-shadow);
    box-shadow: 0 0 24px var(--box-shadow);
    padding: 12px;
    width: 72%;
    margin: 0 auto;
    padding-bottom: 100px;
    min-height: 100%;
}

#footer {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    line-height: 30px;
    position: fixed;
    z-index: 3141595;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    text-align: center;
    background: var(--bottom-color);
}

#flag {
    display: inline;
    vertical-align: middle;
}

#footerline li {
    padding: 3px 5px 3px;
}

#headline span {height: 100%; }
#headline li {
    font-size: 17px;
}

#social {
    margin-top: 15px;
    padding: 6px;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    text-align: center;
}

#social > h2 {
    display: inline-block;
    margin-right: 25px;
}


#headline > * {
    font-size: 40px;
}

#heure {
    font-size: 48px;
    padding: 22px;
    border-bottom: 3px solid var(--link-color);
	text-align: center;
}

#meteo > span {
    font-size: 20px;
    padding: 7px 10px;
}

#meteo > img {
	width: 50%;
}

#day {
    font-size: 13px;
    padding: 6px;
	text-align: center;
}


.temps {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.temps > * {
	text-align: right;
}

.day {
	display: flex;
	width: 120px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 15px;
	text-align: center;
}

.day > img {
	margin-left: 25px;
	margin-top: 5px;
}

.tempMax {
	color: var(--warm-color);	
}

.tempMin {
	color: var(--cold-color);	
}

#popup_menu {
	text-align: center;
	margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    
    -webkit-box-shadow: 0 0 24px var(--box-shadow);
    -moz-box-shadow: 0 0 24px var(--box-shadow);
    box-shadow: 0 0 24px var(--box-shadow);
	padding: 0 12px;
    width: 72%;
    height: 64%;
    background-color: var(--text-color);
    border-top: 1px solid rgba(118,110,116,.5);
    position: fixed;
    bottom: calc(-64% + 80px);
    
    -webkit-transition: bottom .5s ease-out;
     transition: bottom .5s ease-out;
    z-index: 999;
}

#apps > a {
    background-color: #675454;
    border-radius: 10px;
    width: 130px;
    height: 100px;
    text-align: center;
	margin: 10px 55px;
}

#popup_menu:hover {
    bottom: 0px;    
}

#apps {
    margin-top: 15px;
	height: 100%;
	overflow: scroll;
}

#apps > a > span {
    color: red;
    margin-top: 35px;
}

#apps > a > span > * { 
    color: var(--link-color);
}

#apps > a > span > i {
    font-size: 65px;
	width: 100%;
}


#groups {
    display: flex;
    justify-content: center;
}

.group {
    text-align: center;
    width: 100%;
}

.legend1, .legend2 {
  right: 10px;
  padding: 6px 10px;
  background: var(--text-color);
  line-height: 1.2em;
  position: absolute;
}

.legend1 {
  margin-top: -8px;
}

.legend2 {
  margin-top: -30px;
}

.legend-mid {
	margin: 0 auto;
	margin-top: -25px;
	position: inherit !important;
}

.switch-wrapper {
  align-items: center;
  display: flex;
}

.switch-wrapper  em {
    margin-left: 20px;
}

.switch-slider {
  height: 24px;
  position: relative;
  width: 70px;
  top: -5px;
  right: 5px
}

.switch-slider input[type=checkbox] {
  display: none
}

.slider:after {
 content:'OFF';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 15px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 15px;
}

input:checked + .slider {
  background-color: var(--link-color);
}

input:checked + .slider:before {
  transform: translateX(46px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#offline, #online {
    display: inline;
}

#offline::before, #online::before {
    content: ' ';
    display: inline-block;
    vertical-align: center;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right: 5px;
}


#offline::before {
    background-color: red;	
}

#online::before { 
    background-color: var(--link-color);
}

#all { 
	display: none; 
	box-shadow: 0 0 0 1px #ddd; 
	width: 248px;
	padding: 16px; 
	margin: 5px;
	position: absolute;
	background-color: var(--text-color);
	z-index:100;
}

#icons {
	min-height: 115px;
	overflow-y: scroll;
	max-height: 270px;
	box-shadow: 0 0 0 1px #ddd;
	padding: 5px; margin-bottom: 5px;
}

#icons, #icons  * {
	display: flex; 
	flex-wrap: wrap;
}

.icon {
	width: 40px;
	height: 40px;
	padding: 3px;
	margin: 4px;
	cursor: pointer;
	border-radius: 3px;
	box-shadow: 0 0 0 1px #ddd;
	font-size: 15px;
	justify-content: center;
}

.icon > i { justify-content: center; margin-top: 35%; }
#ser { margin: 4px 0 }
#inputerIcon, #inputerIcon > * { display: inline-block;}
#inputerIcon > span {
	margin: 0 15px;
	font-size: 15px;
}


.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 1px solid;
  color: var(--main-font-color);
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 90px;
  padding: 0;
  vertical-align: top;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 24px;
  text-align: right;
  margin: 10px;
}

/* Link the series colors to axis colors */
.highcharts-title, .highcharts-subtitle, .highcharts-axis-title, .highcharts-axis-labels > *[style], .highcharts-axis-line, .highcharts-data-label > *[style] {
  stroke: transparent !important;
  font-size: normal;
  color: var(--link-color) !important;
  fill: var(--graph-color) !important;
}

.highcharts-legend-item text {
  stroke: transparent !important;
  font-size: normal;
  color: var(--link-color) !important;
  fill: var(--graph-color) !important;
  transition: fill 250ms;
}

.highcharts-legend-item-hidden * {
  stroke: transparent !important;
  font-size: normal;
  color: var(--link-color) !important;
  fill: var(--legend-color) !important;
}

@media (max-width: 1024px) {
    #page {
        width: inherit;
    }

    #popup_menu {
        width: 100%;
    }
    
    #search input[type="text"] {
        display: none;
    }
    
    #newsletter {
        float: none;
        margin: 10px 0;
    }

    #social > h2 {
        display: block;
        margin: 5px;
    }

    #info ul {
        padding: 0 15px;
    }

	#weather {
		flex-wrap: wrap;
	}
}

@media (max-width: 767px) {
	#headline { 
		height: 100px;
	}
	
	#heure {
		padding: 10px;
		font-size: 25px;
	}

	#logo {
		height: 149px;
		transform: scale(0.5, 0.5);
	}

    #headline > * {
        font-size: 23px;
    }
    
    #headline > * > img {
        width: 70px;
    }
    
    #menu ul {
        flex-flow: column;
    }

    #menu li {
        height: 25px;
    }
	
}

.light_color {
    color: yellow; 
}
