<!-- templates/404.html -->

{% extends "LifeBox/base.html" %}
{% load i18n %}
{%block title %}LS - 404{% endblock %}
{% block content %}
  <h2> </h2>
    <div class="group"> 
        <fieldset>
            <legend>{% trans 'Error message' %}</legend>
              {{txt}}
        </fieldset>
    </div>
    
{% endblock %}
