
{% load i18n %}

{% load static %}
<!DOCTYPE HTML>
<html>
<head>
	<title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialdesignicons.min.css' %}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'images/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    {% block header %}{% endblock %}
<script>
	function counting(element, msg_element) {
		document.getElementById(element).innerHTML = document.getElementsByClassName(msg_element).length;
	}
	function xhr(method, url) {
		var xhr = new XMLHttpRequest();
		xhr.open(method, url);
		xhr.send();	
	}
	function deleteNotif(event, url)
	{
		console.log(event);
		xhr('GET', url);
		event.remove();
		counting();
	}

</script>
</head>
<body id="body">
<header>
    <div id="header" class="flex center saround">
		<div class="left">
			{% if user.is_authenticated %}
				<a href="/logout"><i class="mdi mdi-logout"></i> {% trans 'Logout' %}</a>
			{% endif %}
		</div>
		<div class="center">
				{% trans 'Home Automation expertise - Made in France' %} <img src="{% static 'images/france_circle.png' %}" id="flag" alt="France Flag"/>
		</div>
		<div class="theme-switch-wrapper right">
			<label class="switch-slider theme-switch-header" for="checkbox">
				<input type="checkbox" id="checkbox" onclick="switchTheme(this)">
				<div class="slider round"></div>
			</label>
			<em>{% trans 'Dark mode'%}</em>
		</div>
    </div>
</header>
<div id="page">
    <div id="headline" class="flex saround">
        <span><a id="logo" href="{% url 'LifeBox:home' %}"></a></span>
        <span>
            <a href="{% url 'LifeBox:calendar' %}">
            <span id="heure">00:00</span>
            <span id="day">{{date.day_date|date:'l d F Y'|title}}</span></a>
        </span>
        
        <span> 
        {% if user.is_authenticated %}
            <a id="meteo" href="{% url 'LifeBox:weather' %}">
                <span>{{weather.city}}</span>
                <img src= {{weather.icon_url}} width="125" align= "middle" >{{weather.temperature}}°C 
            </a>
        {% endif %}
    </span>
    </div>
    {% if user.is_authenticated %}
	<div id="sub_menu" class="flex saround">
	     <a href="{% url 'LifeBox:parameter' %}"><i class="mdi mdi-cog"></i> {% trans 'Parameters' %}</a>
	     <a href="{% url 'LifeBox:sensor' %}"><i class="mdi mdi-leak"></i> {% trans 'Sensor' %}</a>
	     <a href="{{request.META.HTTP_REFERER}}"><i class="mdi mdi-arrow-left"></i>{% trans 'Back' %}</a>
	</div>
    {% endif %}
    {% block content %}
    {% endblock %}
</div>

<div class="notification">
	<span><i class="mdi mdi-bell"></i>	
		{% if count > 0 %} <span id="count-notif" class="count">{{count}}</span> {% endif %}
	</span>

	{% if count > 0 %}
		<span class="message">
			{% for notif in all_notif %}
				<p class="msg" onclick="deleteNotif(this,'{% url 'LifeBox:delete_notif' notif.id %}')" >	
					<a href="?" class="strike">
						{{notif.content}}
					</a>
					{% if notif.ntype == 2 %}
						<a class="fright">
							<i class="mdi mdi-history"></i>
							<span class="bubble">{{notif.delta}} {% trans 'Day' %}</span>
						</a>
					{% endif %}
				</p>
			{% endfor %}
		</span>
	<script>counting("count-notif", "msg");</script>
	{% endif %}
</div> 

<footer>
    <div id="footer">
		{% trans 'Created and Powered by LifeBox Team' %}	
	</div>
</footer>

{% if user.is_authenticated %}
    <div id="popup_menu">
		<figure>
			<img src="{% static 'images/arrow.png' %}">
			<figcaption>{% trans 'HOME' %}</figcaption>
		</figure>
        <div id="apps" class="flex wrap saround">
            {% for group in all_group %}
                <a href="{% url 'LifeBox:group' group.id %}">
					<span> 
						<i class="{{group.icon}}"></i><br>
						<span>{{group.name}}</span>
					</span>
                </a>
            {% endfor %}
            <a href="{% url 'LifeBox:create_group' %}">
				<span>
					<i class="mdi mdi-plus"></i>
					<span>{% trans 'Add group' %}</span>
				</span>
            </a>
        </div>
    </div>
{% endif %}
</body>


<script src="{% static '/JS/theme.js' %}"></script>
<script src="{% static '/JS/time.js' %}"></script>
<script src="{% static '/JS/iconSearch.js' %}"></script>
{% block script %}
{% endblock %}
</html>
