<!-- templates/home.html -->

{% extends "LifeBox/base.html" %}
{% load i18n %}

{% block title %}LS - {% trans 'Connexion' %}{% endblock %}

{% block header %}            
    {% if user.is_authenticated %}
    <meta http-equiv="refresh" content="0; url=/home">
    {% endif %}
{% endblock %}

{% block content %}            
    <div class="information">
        <fieldset>
            <legend><i class="mdi mdi-account"></i> {% trans 'Log in' %} </legend>
            <ul>
                {% if error %}
                    <li>{% trans 'Wrong user or password' %}</li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li><a href="/home"<i class="fas fa-sign-in-alt" ></i>{% trans 'Your are connecte '%}, {{ user.username }}</a></li>
                {% else %}
                    <li><form method="post" action=".">
                    {% csrf_token %}
                    {{ form.as_p }}
                <input type="submit" value="{% trans 'Log in' %}" />
                </form></li>
                {% endif %}
            </ul>            
        </fieldset>
    </div>
{% endblock %}
