<!-- templates/home.html -->
{% extends "LifeBox/base.html" %}
{% load i18n %}
{% block content %}

{% block title %}LS - {%trans 'Dict' %}{% endblock %}

<form method="post">
  {% csrf_token %}
  <table class="form form-table">
    {{ form }}
    <tr><td> </td><td><input type="submit" value="{% trans 'Save' %}"></td></tr>
  </table>
</form>

{% endblock %}
