<!-- templates/template.html -->

{% extends "LifeBox/base.html" %}
{% load i18n %}

{% block title %}LS - {% trans 'Event' %}{% endblock %}

{% block content %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ field.label }} <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ field.label }} <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<div class="information">
    <fieldset>
        <legend>{% trans 'Event' %}</legend>
        <div class="legend2">
			<a href="{% url 'LifeBox:delete_event' event_id %}">{% trans 'Deleting event' %}<i class="mdi mdi-trash-can"></i><span class="bubble">{% trans 'Deleting event' %}</span></a>
		</div> 
          <ul>
            <form method="post">
              {% csrf_token %}

                <p><label>{{ form.title.label }} :</label> {{ form.title }}</p>  
                <div id="inputerIcon">
                    <label>Choose icon : </label> <input type="text" value="{{ form.icon.value }}" id="id_icon" name="icon" onclick="dispo('all', 'block')" onchange="updateIcon(this)" requiered><span><i></i></span>
                </div>
                <div id="all">
                    <div id="ser">Search : <input type="text" id="search" placeholder="Search" onkeyup="searchSelect(this.id, 'icons');"></div>
                    <div id="icons">
                        {% for i in icon %}
                            <span class="icon"><i class="{{i}}"></i></span>
                        {% endfor %}
                    </div>
                </div>
                <p><label>{{ form.description.label }} :</label> {{ form.description }}</p> 
                <p><label>{{ form.start_time.label }} :</label> {{ form.start_time }}</p>  
                <p><label>{{ form.end_time.label }} :</label> {{ form.end_time }}</p>   
                <p><input type="submit" value="{% trans 'Change' %}"></p>
            </form>
          </ul>
    </fieldset>
</div>

<div id="all">
	<div id="ser">Search : <input type="text" id="search" placeholder="Search" onkeyup="searchSelect(this.id, 'ico');"></div>
	<div id="icons">
		<span class="icon"><i class="gg-zoom-out"></i></span>
	</div>
</div>
{% endblock %}
