<!-- templates/home.html -->

{% extends "LifeBox/base.html" %}
{% load i18n %}
{%block title %}LS - {% trans 'New association' %}{% endblock %}
{% block content %}

    <div class="information">
        <fieldset>
            <legend>{% trans 'Parameters' %}</legend>
              <ul>
                <form action="{% url 'LifeBox:create_group_association' group.id %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="{% trans 'Create' %}">
                </form>
             </ul>
        </fieldset>
    </div>
    
{% endblock %}
