<!-- templates/home.html -->
{% extends "LifeBox/base.html" %}
{% load i18n %}

{% block title %}LS - {% trans 'Group' %}{% endblock %}

{% block content %}
<script>
function showVal(event) {
	event.nextElementSibling.firstElementChild.innerHTML = event.value;
}

function showValUpd(event, url, color) {
	if(color) showVal(event);

	var xhr = new XMLHttpRequest();
	xhr.open('GET', url);
	xhr.onload = function () {
		if (xhr.readyState === 4) {
			if (xhr.status === 200) {
				if(color) event.nextElementSibling.firstElementChild.style.color = "green";
			} else {
				if(color) event.nextElementSibling.firstElementChild.style.color = "red";
			}
		}
	};
	xhr.send();	
}

</script>

    <div class="group"> 
        <h1><i class="{{group.icon}}"></i> {{group.name}} 
		
			<small>
				<div class="legend2">
					<a href="{% url 'LifeBox:modif_group' group.id %}"><i class="mdi mdi-pencil"></i><span class="bubble">{% trans 'Edit group' %}</span></a>
					<a href="{% url 'LifeBox:delete_group' group.id %}"><i class="mdi mdi-trash-can"></i><span class="bubble">{% trans 'Deleting group' %}</span></a>
				</div>
			</small>
		
		</h1>
	<h2>
	</h2>
    </div>

	<br>
	<h2 class="hr">
		{% trans 'Sensor'%} 
		<div style="margin-left: 10px;"><a href="{% url 'LifeBox:create_group_association' group.id %}"><i class="mdi mdi-plus"></i><span class="bubble">{% trans 'Add sensor' %}</span></a></div>
	</h2>
	<br>

	<div class="flex wrap auto">
    {% for sensor in sensor_group %}
        <fieldset class="sensor flex">
            <legend>
                <a href="{% url 'LifeBox:sensor_status' sensor.sensor.id %}">
                <i class="{{sensor.sensor.icon}}"></i> {{sensor.sensor.name}} 
				{% include "./status.html" with status=sensor.sensor.online %}
                </a>
            </legend>
            <div class="legend2">
                <a href="{% url 'LifeBox:delete_group_association' group.id sensor.sensor.id %}"><i class="mdi mdi-trash-can"></i><span class="bubble">{% trans 'Delete' %}</span></a>
            </div>
            <div class="auto center">
                <form action = "{% url 'LifeBox:group' group.id %}" method="POST"> 
                    {% csrf_token %}  
                    {{sensor.switcher.html|safe}}
                </form>
            </div>
        </fieldset>
    {% endfor %}
	</div>

	<br>
	<h2 class="hr">
		{% trans 'Regulation' %}
		<div style="margin-left: 10px"><a href="{% url 'LifeBox:create_regul' group.id %}"><i class="mdi mdi-plus"></i><span class="bubble">{% trans 'Add regulation' %}</span></a></div>
	</h2>
	<br>
    {% for r in regul %}
        <fieldset>
            <legend>
                <i class="{{r.regul_group.icon}}"></i> {{r.regul_group.name}}
            </legend>
            <div class="legend2">
                <a href="{% url 'LifeBox:modif_regul' r.regul_group.id %}"><i class="mdi mdi-pencil"></i><span class="bubble">{% trans 'Edit regulation' %}</span></a>
                <a href="{% url 'LifeBox:delete_regul' r.regul_group.id %}"><i class="mdi mdi-trash-can"></i><span class="bubble">{% trans 'Delete regulation' %}</span></a>
            </div> 

			<input type="checkbox" id="switch" name="switch" class="dnone" {% if r.regul_group.on == 1.0 %} checked {% endif %} onclick="showValUpd(this, '{% url 'LifeBox:regul_on' r.regul_group.id r.regul_group.on|yesno:'0,1' %}', false)" >
			<div class="slider round switch-slider legend-mid" onclick="this.previousElementSibling.click();"></div>

            
                <div class="flex regulation">
                    {% csrf_token %}
                    {{r.sp_html|safe}}                  
                    <!-- <span class="ranger"> -->
                        <!-- {% if not s.info.expert_mode %} -->
                            <!-- <input type="range" id="qta_field-{{r.regul_group.id}}" value="{{ r.regul_group.setpoint }}" min="0" max="30" oninput="showVal(this)" onchange="showValUpd(this, '/regul/setpoint/{{group.id}}/{{r.regul_group.id}}/' + document.getElementById('qta_field-{{r.regul_group.id}}').value, true)" /> -->
							<!-- <div class="progress-circle auto"> 	 -->
                            	<!-- <span class="temp"><i class="fas fa-thermometer-half"></i><br>{{ r.regul_group.setpoint }}</span> -->
							<!-- </div> -->
                        <!-- {% else %} -->
                            <!-- {{s.form }}			 -->
                        <!-- {% endif %} -->
                    <!-- </span> -->
                    
                    <div class="flex column">
                        <h2 class="hr">{% trans 'Measure' %}</h2>
                        {% csrf_token %}
                        {{r.meas_html|safe}}    
						<div class="content auto center">
							<div class="measure">
								{% for mes in r.measure %}
									<div class="flex auto">
										<a href="{% url 'LifeBox:sensor_status' mes.sensor.id %}">
											<i class="{{mes.sensor.icon}}"></i> {{mes.sensor.name}}
											{% include "./status.html" with status=mes.sensor.online %}
										</a>
										{% csrf_token %}
										<form action = "{% url 'LifeBox:group' group.id %}" method = "POST"> 
											{% csrf_token %}  
											{{mes.as_html|safe}}
										</form>
										<a href="{% url 'LifeBox:delete_regul_association' r.regul_group.id mes.sensor.id %}"><i class="mdi mdi-trash-can"></i><span class="bubble">{% trans 'Delete' %}</span></a>
									</div>
								{% endfor %}
                        		<a href="{% url 'LifeBox:create_regul_association' r.regul_group.id 1 %}"><i class="mdi mdi-plus"></i><span class="bubble">{% trans 'Add sensor' %}</span></a>
							</div>
						</div>
                    </div>
                     
                    <div class="flex column">
                        <h2 class="hr">{% trans 'Action' %}</h2>
                         {% csrf_token %}
                         {{r.action_html|safe}} 
                        {% for act in r.action %}
                            <div class="flex auto">
                            <a href="{% url 'LifeBox:sensor_status' act.sensor.id %}">
                                <i class="{{act.sensor.icon}}"></i> {{act.sensor.name}}
                                {% include "./status.html" with status=act.sensor.online %}
                            </a>
                            <form action = "{% url 'LifeBox:group' group.id %}" method = "POST"> 
                                {% csrf_token %}
                                {{act.icon}}{{act.as_html|safe}}
                            </form>
                            <a href="{% url 'LifeBox:delete_regul_association' r.regul_group.id act.sensor.id %}"><i class="mdi mdi-trash-can"></i><span class="bubble">{% trans 'Delete' %}</span></a>
                            </div>
                        {% endfor %}
						<a class="auto" href="{% url 'LifeBox:create_regul_association' r.regul_group.id 2 %}"><i class="mdi mdi-plus"></i><span class="bubble">{% trans 'Add sensor' %}</span></a>
                    </div>
                </div>
        </fieldset>
    {% endfor %}
    
{% endblock %}



