<!-- templates/home.html -->

{% extends "LifeBox/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}LS - {% trans 'Home' %}{% endblock %}

{% block content %}
	<h3 class="center">{% trans 'Welcome on your Homepage' %}</h3>
    <!-- <div class="information"> -->
        <!-- <fieldset> -->
            <!-- <legend><i class="fas fa-home"></i> {% trans 'Home state' %}</legend> -->

            <!-- <ul> -->
                <!-- <li><i class="fas fa-check"></i> Ok </li> -->

            <!-- </ul>             -->
        <!-- </fieldset> -->
    <!-- </div> -->

    <div class="information">
        <fieldset>
            <legend><i class="mdi mdi-calendar"></i> {% trans 'Agenda' %}</legend>
            <ul>
            {% for i in agenda %}
                <li><a href="{% url 'LifeBox:event_edit' i.id %}"><i class="{{i.icon}}"></i> {{i.title}}</a></li>
            {% empty %}
             <ul>
                <li><a href="{% url 'LifeBox:calendar' %}">{% trans 'No event today' %}</a></li>
             </ul>
            {% endfor %}
            </ul>
        </fieldset>
    </div>
    
    <div class="information">
        <fieldset>
            <legend><i class="mdi mdi-bell-ring"></i> {{important}} {% trans 'Notification' %}{{important|pluralize:'s'}} {% trans 'Important' %}{{important|pluralize:'s'}}</legend>
            <ul>
			{% if important > 0 %}
				{% for notif in all_notif %} 
					{% if notif.level > 4 %}
					<li>{{notif.date|date:'d/m H:i'}} - {{ notif.content}}</li>
					{% endif %}
				{% endfor %}
			{% else %}
				<li>{% trans 'No important notification' %}</li>
			{% endif %}
            </ul>
        </fieldset>
    </div>
        
    <div class="information">
        <fieldset>
            <legend><i class="mdi mdi-flash-circle"></i> {% trans 'Disconnect sensor' %}</legend>
            {% for sensor in error_sensor %}
                <li>
					<a href="{% url 'LifeBox:sensor_status' sensor.id %}">{% trans 'The sensor' %} "{{sensor.name}}" {% trans 'is' %} {{sensor.status}}	
					{% include "./status.html" with status=sensor.online full=True %}
					</a>
				</li>
            {% empty %}
             <ul>
                <li>
					<a href="{% url 'LifeBox:sensor' %}">{% trans 'All sensor are Ok' %}<i class="mdi mdi-information"></i>
					<span class="bubble">Ici vous trouverez les informations sur les capteurs hors lignes </span></a>
				</li>
             </ul>
            {% endfor %}        
        </fieldset>
    </div>
    
    
    <div class="information construct">
        <fieldset>
            <legend><i class="mdi mdi-currency-euro"></i> {% trans 'Energy savings' %}</legend>
			<ul>
				<li>
					<a href="#"><i class="mdi mdi-information"></i> Economie réalisées  (50Kw/h)
						<span class="bubble">Calculée sur la base d'un foyer moyen</span>
					</a>
					<big><span>100 €</span></big>
				</li>
			</ul>
        </fieldset>
    </div>

    <!-- <div class="information"> -->
        <!-- <fieldset> -->
            <!-- <legend><i class="fas fa-ambulance"></i> {% trans 'Emergengy information' %}</legend> -->
            <!-- <ul> -->
                <!-- <li><i class="fas fa-smile"></i>{% trans 'Everything is ok !' %}</li> -->
            <!-- </ul>             -->
        <!-- </fieldset> -->
    <!-- </div> -->

    <div class="information">
        <fieldset>
            <legend><i class="mdi mdi-heart-box-outline"></i> {% trans 'Our social networks' %}</legend>
            
            <ul>
				<li class="flex saround">
                    <a target="_blank" href="mailto:LifeBox.contact@gmail.com"><img src="{% static 'images/gmail.png' %}" id="fb" alt="Mail LS"/></a>
					<a target="_blank" href="https://discordapp.com/invite/Q8Ar7XZ"><img src="{% static 'images/discord.png' %}" id="fb" alt="Discord LS"/></a>
					<a target="_blank" href="https://www.facebook.com/LifeBox-109611500386630/"><img src="{% static 'images/facebook.png' %}" id="fb" alt="Facebook LS"/></a>
					<a target="_blank" href=""><img src="{% static 'images/messenger.png' %}" id="fb" alt="Messenger LS"/></a>
					<a target="_blank" href="https://www.youtube.com/channel/UCTWuoQzIqHbUCmuy03O63Ag"><img src="{% static 'images/youtube.png' %}" id="fb" alt="Youtube LS"/></a>
					<a target="_blank" href="https://www.linkedin.com/company/37786466/"><img src="{% static 'images/linkedin.png' %}" id="fb" alt="linkedin LS"/></a>
					<a target="_blank" href=""><img src="{% static 'images/instagram.png' %}" id="fb" alt="Facebook LS"/></a>
				</li>

            </ul>
        </fieldset>
    </div>

{% endblock %}
