<!-- templates/create_sensor.html -->

{% extends "LifeBox/base.html" %}
{% load i18n %}
{%block title %}LS - {% trans 'Dict' %}{% endblock %}
{% block content %}
    <div class="information">
        <fieldset>
            <legend>{% trans 'New Dict' %}</legend>
              <ul>
                <form action="?" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Creer">
                </form>
              </ul>
        </fieldset>
    </div>
        <div class="information">
        <fieldset>
            <legend>{% trans 'Known translate' %}</legend>
			{% for i,values in dict.items %}
 				<h3 class='hr'>{{i}}</h3>
				<ul>
				{% for j in values %}
                	<a href="{% url 'LifeBox:modif_dict' j.id %}"> {{j.name}} {{j.signe}} {{j.value}}</a></li> - 
                	<a href="{% url 'LifeBox:delete_dict' j.id %}"><i class="mdi mdi-trash-can"></i>{% trans 'Delete' %}</a></li><br>
				{% endfor %}
				</ul>
			{% endfor%}
			<div>
				
			</div>
        </fieldset>
    </div>

{% endblock %}
