<!-- templates/home.html -->
{% extends "LifeBox/base.html" %}
{% load i18n %}
{%block title %}LS - {% trans 'Edit dict' %}{% endblock %}
{% block content %}

<form method="post">
  {% csrf_token %}
  <table class="form form-table">
    {{ form }}
    <tr><td> </td><td><input type="submit" value="{% trans 'Update' %}"></td></tr>
  </table>
</form>

{% endblock %}
