<!-- templates/paremeter.html -->

{% extends "LifeBox/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}LS - {% trans 'Parametres'%}{% endblock %}

{% block content %}

    <div class="information">
        <fieldset>
            <legend>{% trans 'Parameters' %}</legend>
              <ul class="flex saround">
						{% get_current_language as LANGUAGE_CODE %}
						{% get_available_languages as LANGUAGES %}
						{% get_language_info_list for LANGUAGES as languages %}
						{% for language in languages %}
							<li>
								<a href="/{{ language.code }}{{ request.get_full_path|slice:'3:' }}"
								   class="{% if language.code == LANGUAGE_CODE %}selected{% endif %}"
								   lang="{{ language.code }}">
									<img src="{% static 'images/'|add:language.code|add:'.png' %}">  {{ language.name_local|title }}
								</a>
							</li>
						{% endfor %}	
				</ul>
                	<form action="{% url 'LifeBox:parameter' %}" method="post">
						{% csrf_token %}
						<h3 class="hr">Météo</h3>
						<p><label>{{ form.country.label }} :</label>{{ form.country }}</p>  
						<p><label>{{ form.city.label }} :</label>{{ form.city }}</p>  
						<h3 class="hr">Wifi</h3>
						<p><label>{{ form.ssid.label }} :</label>{{ form.ssid }}</p>  
						<p><label>{{ form.password.label }} :</label>{{ form.password }}</p>  
						<p><label>{{ form.ip.label }} :</label>{{ form.ip }}</p>  
						<h3 class="hr">Divers</h3>
						<p><label>{{ form.pricing.label }} :</label>{{ form.pricing }}</p>  
						<p><input type="submit" value="{% trans 'Update' %}"></p>
						</div>                    
					</form>
				 </ul>
			{% if perms.LifeBox.Admin %}
				<div class="information">
					<fieldset>
						<legend>{% trans 'Administration' %}</legend>
						  <ul>
							<li><a href="/admin/"><i class="mdi mdi-account-cog"></i> Administration </a></li>
							<li><a href="{% url 'LifeBox:list_dict' %}">{% trans 'List of dictionnary translation' %}</a></li>
						 </ul>
					</fieldset>
				</div>
				<div class="information">
					<fieldset>
						<legend>{% trans 'Clean database' %}</legend>
							<ul>
								 <form action="{% url 'LifeBox:clean_data' %}" method="post">
									{% csrf_token %}
									<input type="submit" value="{% trans "Clean data" %}">
								</form>
							</ul>
							<ul>
								<form action="{% url 'LifeBox:clean' %}" method="post">
									{% csrf_token %}
									<input type="submit" value="{% trans 'Clean everything' %}">
								</form>
							</ul>
					</fieldset>
				</div>
			{% endif %}
{% endblock %}
