<!-- templates/create_group.html -->

{% extends "LifeBox/base.html" %}
{% load i18n %}
{% block title %}LS - {% trans 'Edit regulation' %}{% endblock %}
{% block content %}

    <div class="information">
        <fieldset>
            <legend>{% trans 'New group' %}</legend>
              <ul>
                <form action="{% url 'LifeBox:modif_regul' regul.id %}" method="post">
                    {% csrf_token %}
                    <p><label>{{ form.name.label }} :</label>{{ form.name }}</p>  
                    {% if form.type %}
                        <p><label>{{ form.type.label }} :</label> {{ form.type }}</p>  
                    {% endif %}
                    <div id="inputerIcon">
                        <label>Choose icon : </label><input type="text" value="{{form.icon.value}}" id="id_icon" name="icon" onclick="dispo('all', 'block')" onchange="updateIcon(this)" requiered><span><i class="{{form.icon.value}}"></i></span>
                    </div>

                    <div id="all">
                        <div id="ser">Search : <input type="text" id="search" placeholder="Search" onkeyup="searchSelect(this.id, 'icons');"></div>
                        <div id="icons">
                                {% for i in icon %}
                                    <span class="icon"><i class="{{i}}"></i></span>
                                {% endfor %}
                            	</div>
                        </div>
                    <p><input type="submit" value="{% trans 'Create' %}"></p>
                    </div>                    
                </form>
                
              </ul>
        </fieldset>
    </div>
    
<div id="all">
	<div id="ser">Search : <input type="text" id="search" placeholder="Search" onkeyup="searchSelect(this.id, 'ico');"></div>
	<div id="icons">
		<span class="icon"><i class="gg-zoom-out"></i></span>
	</div>
</div>
</html>

{% endblock %}
