<!-- templates/template.html -->

{% extends "LifeBox/base.html" %}

{% load i18n %}

{% block title %}LS - {% trans 'Sensor Status' %}{% endblock %}

{% block header %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/boost.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}

{% block content %}
 <div>
    <fieldset class="information">
        <legend>
            <i class="{{sensor.icon}}"></i> {{sensor.name}} -
			{% include "./status.html" with status=sensor.online %}
        </legend>
        <div class="legend2">
            <a href="{% url 'LifeBox:sensor_modif' sensor.id %}"><i class="mdi mdi-pencil"></i> Modifier</a></li>
        </div> 
            <li>{% trans 'Sensor ' %} {{info.type}}, {% trans 'save in' %}  {{sensor.date}}</li>
            <li>{% trans 'last value is ' %}{{last_data.value}}, {% trans 'received' %} {{last_data.date}}</li>
    </fieldset>
</div>
<div class="information">
    <fieldset>
        <legend> Graphique </legend>
        <div id="container"></div>
    </fieldset>
</div>


 <script>
    Highcharts.chart('container', {
      colors: ['#8ec63f'],
             
      chart: {
        zoomType: 'x',
        backgroundColor: 'transparent'
      },

      title: {
        text: "{% trans 'Sensor' %} {{sensor.name}}"
      },

      subtitle: {
        text: "{% trans 'Type of sensor : ' %}{{info.type}}"
      },

      tooltip: {
        valueDecimals: 2
      },

      xAxis: {
        type: 'datetime'
      },

      series: [{
        data: {{data}},
        name: "{% trans 'Value' %}"
      }]

    });
	console.log({{data}});
 </script>
{% endblock %}
