<!-- templates/create_sensor.html -->

{% extends "LifeBox/base.html" %}
{% load i18n %}

{% block title %}LS - {% trans 'Sensor' %}{% endblock %}

{% block content %}
    <div class="information">
        <fieldset>
            <legend>{% trans 'New sensor' %}</legend>
              <ul>
                <form action="{% url 'LifeBox:sensor'%}" method="post">
                    {% csrf_token %}
                    <p><label> {{ form.sensor_name.label }} :</label> {{ form.sensor_name }}</p>
                    <input type="hidden" name="{{form.icon.name}}" id="{{form.icon.name}}" value="{{form.icon.value}}">
					<input type="submit" value="{% trans 'Create' %}">
                </form>
              </ul>
        </fieldset>
    </div>
        <div class="information">
        <fieldset>
            <legend>{% trans 'Known sensor' %}</legend>
            {% for s in uniq_num_module %}
			<div>
				<div class="legend1">
					<a href="{% url 'LifeBox:delete_sensor' s %}"><i class="mdi mdi-trash-can"></i> {%  trans 'Delete' %} </a>
				</div> 
			   	<h3 class='hr'> {% trans 'Module' %} {{s}}</h3>

				{% for j in all_sensor %}
					{% if s == j.sensor.num_module %}
						   <ul>
							   <li><a href="{% url 'LifeBox:sensor_status' j.sensor.id %}"><i class="{{j.sensor.icon}} space"></i>{% trans 'Sensor' %} {{j.sensor.name}} {% trans 'type' %} {{j.type}}, {% trans 'saved' %} {{j.sensor.date}}</a>
							   <a href="{% url 'LifeBox:sensor_modif' j.sensor.id %}"><i class="mdi mdi-pencil"></i>{% trans 'Edit' %}</a></li>
						   </ul> 
				   {% endif %}
				{% endfor %}
			</div>
			{% empty %}
				<ul>
					{% trans 'No captor saved' %}
				</ul>
			{% endfor %}
        </fieldset>
{% endblock %}
