
{% load i18n %}
{% if status == True %}
	<div id="online">{% if full == True %}{% trans 'Online' %}{% endif %}</div>
{% else %}
	<div id="offline">{% if full == True %}{% trans 'Offline' %}{% endif %}</div>
{% endif %}
