<!-- the_weather/weather/index.html -->

{% extends "LifeBox/base.html" %}
{% load i18n %}

{% block title %}LS - {% trans 'Weather' %}{% endblock %}

{% block header %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/boost.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}
{% block content %}

    <div class="information">
            <li><h3>{% trans 'Weather & Forecast' %}</h3></li>        
            <li>{{ weather.data.location.displayName }}, {{ weather.data.location.countryName }}</li>    
            <li>{{weather.temperature}}°C, {{weather.pressure}} hPa - {% trans 'UV index' %}: {{ weather.data.observation.uvIndex}}</li>
    </div>
    <div class="information">
        <fieldset>
            <legend> {% trans 'Weather of day' %} </legend>
            <div id="container"></div>
        </fieldset>
    </div>
    <div class="information">
        <fieldset>
            <legend> {% trans '10-day forecast' %} </legend>
			<div class="flex wrap center">
            {% for day, forecast, min_temp, max_temp in weather.week %}
				<div class="day">
					<div class="dayName">{{day}}</div>
						<img src= https://s.yimg.com/zz/combo?a/i/us/nws/weather/gr/{{forecast.conditionCode}}d.png width="60" align= "middle">
						<div class="temps">
							<div class="tempMax">{{ max_temp }}°C</div>
							<div class="tempMin">{{ min_temp }}°C</div>
						</div>
				</div>
            {% endfor %}            
			</div>
        </fieldset>
    </div>

{% endblock %}

{% block script%}

    <script type="text/javascript">
	var t = new Array();
	var temp = new Array();
	var temp_res = new Array(); 
	var humid = new Array();
	var rain = new Array();
	var wind = new Array();
	var prev = '';
	var split = '';
	var hours = '';
	{% for hours, temp, temp_ress in weather.temp_hours %}
		hours = '{{ hours }}';
		split = hours.split(' - '); 
		if(split[0] == prev) hours = split[1];
		t.push(hours);
		prev = split[0];

		temp.push({{ temp }});
		temp_res.push({{ temp_ress }});    
	{% endfor %}            
	{% for hours, humid, rain, wind in weather.rain_hours %}
		humid.push({{humid}});
		rain.push({{rain}});
		wind.push({{wind}});
    {% endfor %}            

    Highcharts.chart('container', {
    colors: ['#90ee7e', '#ff0000', '#00ffff', '#ae00ff', '#0091ff'],
             
      chart: {
        type : 'line',
        backgroundColor: 'transparent'
      },

      title: {
        text: "{% trans 'Weather of day' %}"
      },
      
      xAxis: {
        categories: t,
        type:'datetime',
        dateTimeLabelFormats : {
            hour: '%I %p'
        }
      },
      yAxis: {
        title: {
          text: "{% trans 'Values' %}"
        }
      },
      plotOptions: {
        line: {
          dataLabels: {
            enabled: true,
            style: {
                textShadow: false,
                textOutline: false,
            }
          },
          enableMouseTracking: true
        }
      },

      series: [
	  {
	  	data: temp,
        name: "{% trans 'Temperature °C' %}"
      },
	  {
	  	data: temp_res,
        name: "{% trans 'Feel °C' %}",
        visible: false
      },
	  {
	  	data: humid,
        name: "{% trans 'Humidity %' %}",
        visible: false
      },
	  {
	  	data: wind,
        name: "{% trans 'wind m/s' %}",
        visible: false
      },
	  {
	  	data: rain,
        name: "{% trans 'Rain %' %}",
        visible: false
      }]
    });
	</script>


{% endblock %}
